
.leaflet-popup ul.attributes {
    border-top: 2px solid lightgrey;
    list-style: none;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 10px;
    padding-top: 5px;
}


.leaflet-tooltip {
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    opacity: 1 !important;
    padding: 0 !important;
}

.points-container {
    align-items: center;
    column-gap: 2px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 24px;
}


.marker-cluster {
    background-color: rgb(255 165 0 / 60%);
    border-radius: 50%;
    color: white;
    font-weight: bold;
    text-align: center;
}

.marker-cluster div {
    background-color: rgb(255 140 0 / 80%);
    border-radius: 15px;
    font-size: 12px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    width: 30px;
}

.marker-cluster span {
    line-height: 30px;
}

.polygon-cluster-icon {
    background-color: rgb(255 140 0 / 80%);
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
